<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Skinmatch</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <h1 class="screenreader">Skinmatch</h1>
    </nav>

    <section>
        <div>
            <h1>Skinmatch</h1>
            <p>“Because you’re worth it”</p>
            <p>Get to know people with the same skin condition as you.</p>      
        </div>
        <a href="/about">log in</a>
    </section>

    <footer>Marlène van Erp | 500830461 | klas 209 | tech 05 | 2021 |</footer>
</body>
</html>